In [1]:
import pandas as pd

In [2]:
datasets = pd.read_csv("../archive/train.csv")

In [3]:
datasets.head()

,Unnamed: 0,film-url,review,polarity
0,0,http://www.allocine.fr/film/fichefilm-135259/c...,Si vous cherchez du cinéma abrutissant à tous ...,0
1,1,http://www.allocine.fr/film/fichefilm-172430/c...,"Trash, re-trash et re-re-trash...! Une horreur...",0
2,2,http://www.allocine.fr/film/fichefilm-15105/cr...,"Et si, dans les 5 premières minutes du film, l...",0
3,3,http://www.allocine.fr/film/fichefilm-188629/c...,Mon dieu ! Quelle métaphore filée ! Je suis ab...,0
4,4,http://www.allocine.fr/film/fichefilm-23514/cr...,"Premier film de la saga Kozure Okami, ""Le Sabr...",1

In [6]:
datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  160000 non-null  int64
 1   film-url    160000 non-null  object
 2   review      160000 non-null  object
 3   polarity    160000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.9+ MB

In [9]:
datasets.polarity.value_counts()

polarity
1    80587
0    79413
Name: count, dtype: int64